<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${title}"></title>


    <!-- Bootstrap4 -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</head>
<body>

<!--header.html  that's here  -->
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid pt-2">
    <div layout:fragment="content"></div>
</div>

<!--footer.html  that's here  -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>